<div class="card">

<h1 class="titulo">Inicio de Sesion</h1>
<br>

<form class="text-center"  [formGroup]="IniciarForm">
  <div class="d-flex flex-column align-items-center">
    <label for="validationTooltip01" class="form-label">Numero de Identidad</label>
    <input type="text" class="form-control ml-5" id="validationTooltip01" formControlName="identidad" maxlength="10" required style="width: 200px;">
  </div>
  <div class="d-flex flex-column align-items-center">
    <label for="validationTooltip02" class="form-label">Contraseña</label>
    <input type="text" class="form-control ml-5" id="validationTooltip02" formControlName="contrasena" required style="width: 200px;">
  </div>

  <div class="botones">
    <button class="ini" (click)="login()" >Iniciar Sesion</button>
    <p class="regis" (click)="registrar()">Registrarse</p>
  </div>
</form>
</div>
