<div class="card">
  <div class="volver-container">
    <button class="btn btn-light limpiar1 volver-button" type="button" (click)="volver()">
      <i class="fa fa-arrow-left"></i> volver
    </button>
  </div>
  <h1 class="titulo">Adicionar Tarea</h1>
  <br>

  <form class="text-center" [formGroup]="AdicionarTarea">
    <!-- Para el campo identidad -->
    <div class="d-flex flex-column align-items-center">
      <label for="validationTooltip01" class="form-label">Nombre Materia</label>
      <input type="text" class="form-control ml-5" id="validationTooltip01" formControlName="nombre" maxlength="50" required [class.is-invalid]="mostrarErrores && AdicionarTarea.get('nombre')?.invalid && AdicionarTarea.get('nombre')?.touched" style="width: 200px;">
      <div *ngIf="mostrarErrores && AdicionarTarea.get('nombre')?.invalid && AdicionarTarea.get('nombre')?.touched" class="invalid-feedback">
        Por favor, ingrese su número de identidad.
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <label for="validationTooltip03" class="form-label">Descripcion</label>
      <input type="text" class="form-control ml-5" id="validationTooltip03" formControlName="descripcion" required [class.is-invalid]="mostrarErrores && AdicionarTarea.get('descripcion')?.invalid && AdicionarTarea.get('descripcion')?.touched" style="width: 200px;">
      <div *ngIf="mostrarErrores && AdicionarTarea.get('descripcion')?.invalid && AdicionarTarea.get('descripcion')?.touched" class="invalid-feedback">
        Por favor, ingrese su nombre.
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
      <input type="date" class="form-control ml-5" id="fechaInicio" formControlName="fechaInicio" required
             [class.is-invalid]="mostrarErrores && AdicionarTarea.get('fechaInicio')?.invalid && AdicionarTarea.get('fechaInicio')?.touched"
             style="width: 200px;">
      <div *ngIf="mostrarErrores && AdicionarTarea.get('fechaInicio')?.invalid && AdicionarTarea.get('fechaInicio')?.touched" class="invalid-feedback">
        Por favor, seleccione una fecha de inicio válida.
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="fechaFin" class="form-label">Fecha Final</label>
      <input type="date" class="form-control ml-5" id="fechaFin" formControlName="fechaFin" required
             [class.is-invalid]="mostrarErrores && AdicionarTarea.get('fechaFin')?.invalid && AdicionarTarea.get('fechaFin')?.touched"
             style="width: 200px;">
      <div *ngIf="mostrarErrores && AdicionarTarea.get('fechaFin')?.invalid && AdicionarTarea.get('fechaFin')?.touched" class="invalid-feedback">
        Por favor, seleccione una fecha final válida.
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <label for="validationTooltip05" class="form-label">Estado de la tarea</label>
      <input type="text" class="form-control ml-5" id="validationTooltip05" formControlName="estadoTarea" required [class.is-invalid]="mostrarErrores && AdicionarTarea.get('estadoTarea')?.invalid && AdicionarTarea.get('estadoTarea')?.touched" style="width: 200px;">
      <div *ngIf="mostrarErrores && AdicionarTarea.get('estadoTarea')?.invalid && AdicionarTarea.get('estadoTarea')?.touched" class="invalid-feedback">
        Por favor, ingrese su Estado de la tarea.
      </div>
    </div>

    <div class="botones">
      <button class="ini" (click)="guardar()">Guardar</button>
    </div>
  </form>
</div>
