<div class="card">
  <div class="volver-container">
    <button class="btn btn-light limpiar1 volver-button" type="button" (click)="volver()">
      <i class="fa fa-arrow-left"></i> EXIT
    </button>
  </div>
  <h1 class="titulo">Lista De Tareas</h1>
  <div class="card-filtros">
    <div class="card-body">
      <div class="card-name-ident">
        <form class="row g-3 needs-validation" [formGroup]="myFormGroup" novalidate>
          <div class="form-principal">
            <div class="nombreident">
              <div class="nombre">
                <label class="form-label nombres">Buscar por Nombre Materia</label>
                <input type="text" class="form-control espacio" formControlName="materia">
              </div>
            <div class="botones">
              <button class="btn btn-primary submit" type="submit" (click)="cargarinfo()">BUSCAR</button>
              <button class="btn btn-light limpiar" type="button" (click)="limpiar()">LIMPIAR</button>
              <button class="btn btn-primary submit" type="button" (click)="adicionar()">ADICIONAR</button>

            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-light table-fondo" aria-label="Tabla de resultados de busqueda">
          <thead class="table-fondo">
          <tr>
            <th scope="col" class="table-fondo">id tarea</th>
            <th scope="col" class="table-fondo">nombre usuario </th>
            <th scope="col" class="table-fondo">nombre</th>
            <th scope="col" class="table-fondo">descripcion </th>
            <th scope="col" class="table-fondo">fecha de inicio</th>
            <th scope="col" class="table-fondo">fecha final</th>
            <th scope="col" class="table-fondo">Estado tarea</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listado.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
            <td class="texto">{{ item.id}}</td>
            <td class="texto">{{ item.nombreusuario }}</td>
            <td class="texto">{{ item.nombre }}</td>
            <td class="texto">{{ item.descripcion }}</td>
            <td class="texto">{{ item.fechaInicio | date: 'yyyy-MM-dd' }}</td>
            <td class="texto">{{ item.fechaFin | date: 'yyyy-MM-dd' }}</td>
            <td class="texto">{{ item.estadoTarea }}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="currentPage = currentPage - 1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of totalPagesArray()">
              <a class="page-link" [ngClass]="{'current-page': page === currentPage}" (click)="currentPage = page">
                {{ page }}
              </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="currentPage = currentPage + 1" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <br>
</div>
